<h1>Current Account Balance:Rs.{{currentamount}}</h1>


<div>
  <button class="btn btn-primary" (click)="getCurrentTransactions()"> Show My Transactions</button>

<div class="mat-elevation-z8" data-table *ngIf="showMyContainer">
    <mat-table [dataSource]="datasource">
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date of Transaction </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Transaction Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="availableBalance">
        <mat-header-cell *matHeaderCellDef> Available Balance </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.availableBalance}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>
  </div>
</div>
