
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm box">
        <div class=" text-primary col-sm boxi">
        <h5>Personal Details</h5>
        </div>
        <div class="col-sm box2">
          <p class="text-dark">Adhar Number: {{UserData?.aadhar}}</p>
          <p class="text-dark">PAN Number: {{UserData?.pan}}</p>
          <p class="text-dark" >Phone Number: {{UserData?.phone}}</p>
          <p class="text-dark" > Email: {{UserData?.email}}</p>



        </div>
  </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm box1">
          <div class="text-primary col-sm boxii">
              <h5>Present Address</h5>
              </div>
              <div class="col-sm box3">

                  <p>House No: {{presentAddress?.houseNo}} </p>
                  <p>Plot No: {{presentAddress?.plotNo}} </p>
                  <p>Village : {{presentAddress?.villageName}}</p>
                  <p>City: {{presentAddress?.city}}</p>
                  <p>District : {{presentAddress?.dist}}</p>
                  <p>State : {{presentAddress?.state}} </p>
                  <p>Country: {{presentAddress?.country}} </p>
                  <p>Pin : {{presentAddress?.pinNumber}}</p>

                </div>
      </div>
      <div class="col-sm  box1">
          <div class=" text-primary col-sm boxii">
              <h5>Permanent Address</h5>
              </div>
              <div class="col-sm box3">
                  <p>House No: {{presentAddress?.houseNo}} </p>
                  <p>Plot No: {{presentAddress?.plotNo}} </p>
                  <p>Village : {{presentAddress?.villageName}}</p>
                  <p>City: {{presentAddress?.city}}</p>
                  <p>District : {{presentAddress?.dist}}</p>
                  <p>State : {{presentAddress?.state}} </p>
                  <p>Country: {{presentAddress?.country}} </p>
                  <p>Pin : {{presentAddress?.pinNumber}}</p>


                </div>
      </div>
      <div class="col-sm  box1">
          <div class="text-primary col-sm boxii">
              <h5>Saving Account</h5>
              </div>
              <div class="col-sm box3">

                  <p>Account Number: {{savingsAccountNumber}}</p>
                  <p>Account Balance: {{savingsAccountBalance}}</p>
                  <p>Open Date: {{savingsAccountOD}}</p>

                </div>
      </div>
      <div class="col-sm box1">
          <div class="text-primary col-sm boxii">
              <h5>Current Account</h5>
              </div>
              <div class="col-sm box3">

                  <p>Account Number: {{currentAccountNumber}}</p>
                  <p>Account Balance: {{currentAccountBalance}}</p>
                  <p>Open Date: {{currentAccountOD}}</p>

                </div>
      </div>

  </div>
</div>

