p { margin:0 }
.box{
  height: 200px;
  padding: 10px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: justify;
}

.box1{
  height: 300px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.boxi{
  height: 40px;
  width: 230px;
  padding: 10px;
  margin-left: 300px;
  margin-right: 250px;
  text-align: justify;
}

.boxii{
  height: 40px;
  width: 200px;
  padding: 10px;
  margin-left: 50px;
  margin-right: 10px;
  text-align: justify;
}
.box2{
  height: 120px;
  width: 500px;
  padding: 10px;
  margin-left: 290px;
  margin-right: 10px;
  text-align: justify;
}

.box3{
  height: 200px;
  width: 250px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: justify;
}